<h4>New Post</h4>

<%= form_for(@user, html: {multipart: true}) do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <p>
    <%= f.label :email  %><br />
    <%= f.text_field :email  %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :image, "Attach an Image" %><br>
    <%= f.file_field :image %>
  </p>

  <p>  
    <%= f.submit %>
  </p>
<% end %>